@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

   #nav-section {
        margin: 0;
        padding: 0;
        top: 0;
        z-index: 1;
    }

     .imagepremierpage {
        width: 100vw;
        height: 100vh;
        height: auto;
     }
    

    .textnavbar {
        color: white;
        font-size: 20px;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif!important;   
     }

     .div2 {
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif !important;
    }
    h3 {
        font-weight: 700!important;
    }
    .logovipkiddiv2 {
        width: 50%;
    }
    .div3 {
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .textdiv3 {
        width: 40%;
        padding: 5%;
        font-family: 'Roboto', sans-serif !important;
    }

    .div4 {
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .classphotodiv3 {
        width: 50%;
    }

    .classphotodiv4 {
        width: 50%;
        height: 40%;
    }

    .classphotodiv4:hover {
        width: 55%;
        height: 40%;
        transition: 1s;
    }
    .classphotodiv4b {
        width: 40%;
        height: auto;
    }


    .classphotodiv4b:hover {
        width: 45%;
        height: auto;
        transition: 1s;
    }

    .separation {
        width: 50%;
        height: 2px;
        background-color: black;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;

    }

       
    /* footer */
    .footer {
        margin-top: 5%;
        padding: 2% 2% 2% 2%;
        display: flex;
        flex-direction: row;
        color: white;
        background-color: rgba(195, 180, 175, 0.801);
        justify-content: space-around;
    }
    
    .reseaux {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin: 5%;
        max-width: 50px;
        max-height: 50px;
    }
    
    .infolegale {
        width: 55%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
    
    .infolegale p {
        font-size: small;
        margin-left: 2%;
    }

    .trait {
        width: 2px;
        height: 150px;
        background-color: white;
    }

    .contact {
        width: 15%; text-align: center;
    }

    .contact2 {
        width: 15%;
    }
    a {
        text-decoration: none !important;
        color: white!important ;
    }