@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@media only screen and (min-width: 767px) {

 body {
    background-color: rgb(255, 255, 255)!important;
 }

 h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700!important;
 }

 p {
    color: #000;
    font-family: 'Roboto', sans-serif;font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal; 
 }

 ul {
    color: #000;
    font-family: 'Roboto', sans-serif;    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }
/*DIV1*/

     .imagepremierpage {
        width: 100vw;
 
        height: auto;
     }

     .image {
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
     }


     .div2 {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-family: 'Roboto', sans-serif !important;
        width: 75%;
    }
    
    h3 {

        font-weight: 900!important;
    }
    .logovipkiddiv2 {
        width: 30%;
    }
    .div3 {
        margin-top: 5%;
        padding-right: 15%;
        padding-left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .textdiv3 {
        width: 60%;
        padding: 5%;
        font-family: 'Roboto', sans-serif !important;
    }

    .textdiv3 {
        transform: translateX(100%);
        transition: transform 3s;
    }
    
    .textdiv3.show {
        transform: translateX(0);
    }

    .div4 {
        margin-top: 2%;
        padding-right: 15%;
        padding-left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .classphotodiv3 {
        width: 458px;
        height: 661px; 
    }

    .classphotodiv4 {
        width: 458px;
        height: 661px; 
    }

    .classphotodiv4b {
        width: 458px;
        height: 661px; 
        flex-shrink: 0; 
    }


    .separation {
        width: 50%;
        height: 3px;
        background-color: black;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .photobandeau {
        width: 100%;
        display: flex;
        flex-direction: row;
        opacity: 0.7;
        justify-content: space-around;
    }

    .imagebandeau {
        width: 20vw;
        height: 60vh;
        border-radius: 10px;
    }

    .nosdernieresphotos {
        margin-bottom: 2%; font-weight: 900; text-align: center;
    }

    .lastdiv {
        margin: auto; width: 70%; text-align: center;
    }

    .lastphoto {
        width: 25%;
    }
    /*FORM*/
    form {
        width: 75%;
        padding-top: 25px;
        margin: auto;
    }
       
}
@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(255, 255, 255)!important;
     }
    
     h1 {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 700!important;
     }
    
    
     p {
        color: #000;
        font-family: 'Roboto', sans-serif;font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
     }
    
     ul {
        color: #000;
        font-family: 'Roboto', sans-serif;    font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
     }
    /*DIV1*/
    
         .imagepremierpage {
            width: 100vw;

            height: auto;
         }
    
         .image {
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
         }
    
    
         .div2 {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-family: 'Roboto', sans-serif !important;
            width: 75%;
        }
        
        h3 {
            font-weight: 700!important;
        }
        .logovipkiddiv2 {
            width: 50%;
        }
        .div3 {
            margin-top: 5%;
            padding-right: 15%;
            padding-left: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        .textdiv3 {
            text-align: center;
            width: 90%;
            padding: 5%;
            font-family: 'Roboto', sans-serif !important;
        }
    
        .textdiv3 {
            transform: translateX(100%);
            transition: transform 3s;
        }
        
        .textdiv3.show {
            transform: translateX(0);
        }
    
        .div4 {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }
    
        .classphotodiv3 {
            width: 90vw; 
        }
    
        .classphotodiv4 {
            width: 90vw; 
        }
    
        .classphotodiv4b {
            margin-top: 2%;
            width: 90vw; 
        }
    
    
        .separation {
            width: 0%;
            height: 0px;

        }
    
        .photobandeau {
            width: 0%;

        }
    
        .imagebandeau {
            width: 0px;

        }

        .nosdernieresphotos {
            font-size: 0px;
        }

        .lastdiv {
            margin: auto; width: 100%; text-align: center; margin-bottom: 5%; margin-top: -15%!important;
        }

        .lastphoto {
            width: 90vw;
            margin: auto;
        }
        /*FORM*/
        form {
            width: 75%;
            margin: auto;
        }
           
}