@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@media only screen and (min-width: 767px) {
    video {margin: auto; display: flex; align-items: center; width: 50vw;

    }
    /* COOKIES */


    .cookiesContent {
        width: 25%;
        padding: 2%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 20px;
        padding: 30px 30px 70px;
    }
    
    .cookiesContent button.close {
        width: 30px;
        font-size: 20px;
        color: #c0c5cb;
        align-self: flex-end;
        background-color: transparent;
        border: none;
        margin-bottom: 10px;
    }
    
    .cookiesContent img {
        width: 82px;
        margin-bottom: 15px;
    }
    
    .cookiesContent p {
        margin-bottom: 40px;
        font-size: 18px;
    }
    
    .cookiesContent button.accept {
        background-color: #ed6755;
        border: none;
        border-radius: 5px;
        width: 200px;
        padding: 14px;
        font-size: 16px;
        color: white;
        box-shadow: 0px 6px 18px -5px #ed6755;
    }
    
    .cookiesContent button.denied {
        margin-top: 5%;
        background-color: #000000;
        border: none;
        border-radius: 5px;
        width: 150px;
        padding: 14px;
        font-size: 12px;
        color: white;
        box-shadow: 0px 6px 18px -5px #000000;
    } 
    

    /* ANIMATION*/
    .logovipkiddiv2 {
        margin-top: 2%;
        opacity: 0; 
        transition: opacity 2s ease-in-out; /* Animation transition */
      }
  
      .show-logo {
        opacity: 1; /* Set to 1 to make it visible */
      }

      .imagebandeau {
        opacity: 0; /* Initial opacity, set to 0 to make it invisible */
        transition: opacity 1s ease-in-out; /* Animation transition */
      }
  
      .show-image {
        opacity: 1; /* Set to 1 to make it visible */
      }

 body {
    background-color: rgb(255, 255, 255)!important;
 }

 h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700!important;
 }

 p {
    color: #000;
    font-family: 'Roboto', sans-serif;font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal; 
 }

 ul {
    color: #000;
    font-family: 'Roboto', sans-serif;    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }
/*DIV1*/

     .imagepremierpage {
        width: 100vw;
        height: 100vh;
     }

     .image {
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
     }


     .div2 {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-family: 'Roboto', sans-serif !important;
        width: 75%;
    }
    
    h3 {

        font-weight: 900!important;
    }
    .logovipkiddiv2 {
        width: 30%;
    }
    .div3 {
        margin-top: 5%;
        padding-right: 15%;
        padding-left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .textdiv3 {
        width: 60%;
        padding: 5%;
        font-family: 'Roboto', sans-serif !important;
    }

    .textdiv3 {
        transform: translateX(100%);
        transition: transform 3s;
    }
    
    .textdiv3.show {
        transform: translateX(0);
    }

    .div4 {
        margin-top: 2%;
        padding-right: 15%;
        padding-left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .classphotodiv3 {
        width: 458px;
        height: 661px; 
    }

    .classphotodiv4 {
        width: 458px;
        height: 661px; 
    }

    .classphotodiv4b {
        width: 458px;
        height: 661px; 
        flex-shrink: 0; 
    }


    .separation {
        width: 50%;
        height: 3px;
        background-color: black;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .photobandeau {
        width: 100%;
        display: flex;
        flex-direction: row;
        opacity: 0.7;
        justify-content: space-around;
    }

    .imagebandeau {
        width: 20vw;
        height: 60vh;
        border-radius: 10px;
    }

    .nosdernieresphotos {
        margin-bottom: 2%; font-weight: 900; text-align: center;
    }

    .lastdiv {
        margin: auto; width: 70%; text-align: center;
    }

    .lastphoto {
        width: 25%;
    }
    /*FORM*/
    form {
        width: 75%;
        padding-top: 25px;
        margin: auto;
    }
       
}
@media only screen and (max-width: 767px) {
    iframe {margin: auto; display: flex; align-items: center; width: 90vw; border-radius: 10px;

    }
    /* COOKIES */
    .cookiesContent {
        width: 90%;
        padding: 2%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 20px;
        padding: 30px 30px 70px;
    }
    
.cookiesContent button.close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.cookiesContent img {
    width: 82px;
    margin-bottom: 15px;
}

.cookiesContent p {
    margin-bottom: 40px;
    font-size: 18px;
}

.cookiesContent button.accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px #ed6755;
}

.cookiesContent button.denied {
    margin-top: 5%;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 14px;
    font-size: 12px;
    color: white;
    box-shadow: 0px 6px 18px -5px #000000;
} 
    body {
        background-color: rgb(255, 255, 255)!important;
     }
    
     h1 {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 700!important;
     }
    
    
     p {
        color: #000;
        font-family: 'Roboto', sans-serif;font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
     }
    
     ul {
        color: #000;
        font-family: 'Roboto', sans-serif;    font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
     }
    /*DIV1*/
    
         .imagepremierpage {
            width: 100vw;

            height: auto;
         }
    
         .image {
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
         }
    
    
         .div2 {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-family: 'Roboto', sans-serif !important;
            width: 75%;
        }
        
        h3 {
            font-weight: 700!important;
        }
        .logovipkiddiv2 {
            margin-top: 2%;
            width: 100%;
        }
        .div3 {
            margin-top: 5%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        .textdiv3 {
            text-align: center;
            width: 90%;
            font-family: 'Roboto', sans-serif !important;
        }
    
        .textdiv3 {
            transform: translateX(100%);
            transition: transform 3s;
        }
        
        .textdiv3.show {
            transform: translateX(0);
        }
    
        .div4 {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }
    
        .classphotodiv3 {
            width: 90vw; 
        }
    
        .classphotodiv4 {
            width: 90vw; 
        }
    
        .classphotodiv4b {
            margin-top: 2%;
            width: 90vw; 
        }
    
    
        .separation {
            width: 0%;
            height: 0px;

        }
    
        .photobandeau {
            width: 0%;

        }
    
        .imagebandeau {
            width: 0px;

        }

        .nosdernieresphotos {
            font-size: 0px;
        }

        .lastdiv {
            margin: auto;             width: 90%;; text-align: center; margin-bottom: 5%; margin-top: -15%!important;
        }

        .lastphoto {
            width: 90vw;
            margin: auto;
        }
        /*FORM*/
        form {
            width: 75%;
            margin: auto;
        }
           
}